{{!< default}}
<main class="content contentpost" role="main">
    <article class="contentpost_inner {{post_class}}" itemscope itemtype="http://schema.org/BlogPosting" role="article">
        {{#post}}
        {{#if tags}}<span class="contentpost_meta">{{tags separator=" · "}}</span>{{/if}}
        <h1 class="contentpost_headline post-title" itemprop="url" data-pjax title="{{{title}}}">{{{title}}}</h1>
        <section class="contentpost_articlecontent post-content">
            {{content}}
        </section>
        <footer class="contentpost_footer_page post-footer">
            <section class="share">
            </section>
        </footer>
        {{/post}}
    </article>
</main>