{{!< default}}
<main class="content contentpost {{#foreach tags}}{{#if @first}}{{encode name}}{{/if}}{{/foreach}}" role="main">
    <article class="contentpost_inner {{post_class}}" itemscope itemtype="http://schema.org/BlogPosting" role="article">
        {{#post}}
        {{#if tags}}<span class="contentpost_meta">{{tags separator=" · "}}</span>{{/if}}
        <h1 class="contentpost_headline post-title" itemprop="url" data-pjax title="{{{title}}}">{{{title}}}</h1>
        <section class="contentpost_articlecontent post-content">
            {{content}}
        </section>
        <footer class="contentpost_footer post-footer">
            <section class="share">
            </section>
            <div class="contentpost_footerbar">
                <section class="contentpost_sidebar_meta clearfix">
                    <h5>Published:</h5><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time>
                </section>
            </div>
        </footer>
        {{/post}}
    <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
    <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
    <script src="/public/util/md5.js"></script>
    <div id="gitalk-container"></div>
    <script type="text/javascript">
        var gitalk = new Gitalk({
                    clientID: 'd7c1623534c6ff37721a', ///步骤3创建后得到的
                    clientSecret: 'fcaf56fd0b479dfb2ce7141cefff2c964b40cb05',///步骤3创建后得到的
                    repo: 'gittalk',///步骤4创建的库名
                    owner: 'sniper00',//自己的GitHub用户名
                    admin: ['sniper00'],//自己的GitHub用户名
                    id: hex_md5(window.location.pathname), // 唯一标示，一般是文章id也可以是文章url
                    distractionFreeMode: false  // Facebook-like distraction free mode
                })
        gitalk.render('gitalk-container')
    </script>
    </article>
</main>
